.Socials__right {
  display: flex;
  flex-direction: row;
  align-items: center !important;
  justify-content: start !important;
}

.Socials {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  direction: rtl;

  .Socials__link--location {
    position: relative;

    .Socials__link--location-image {
      width: 21px;
      height: 21px;
    }

    &:hover {
      .Socials__location {
        visibility: visible;
        opacity: 1;
        z-index: 600;
      }
    }

    .Socials__location {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: -75px;
      color: black;
      display: flex;
      flex-direction: row;
      gap: 20px;
      opacity: 0;
      visibility: hidden;
      transition: 0.3s;
      background: white;
      padding: 10px 15px;
      border-radius: 3px;
      border: 1px solid lightgrey;

      .Socials__location--link {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
        color: #03ac84;
        gap: 3px;
      }

      i {
        color: #03ac84;
        cursor: pointer;
        font-size: 25px;
        transition: 0.1s;

        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }

  .Socials__link {
    background: #33AB85;
    padding: 12px;
    border-radius: 50%;
    cursor: pointer;
    width: 30.6px;
    height: 30.6px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-decoration: none;

    .Socials__link--image {
      width: 21px;
      height: 21px;
    }

    i {
      font-size: 20px;
      color: white;
    }
  }
}