.Burger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  gap: 2px;
  cursor: pointer;

  div {
    width: 21px;
    height: 3.5px;
    background: var(--main-color-green-light-1);

  }
}