.StoreViewShimmer {
    display: flex;
    flex-direction: row;
    /*align-items: center;*/
    padding: 10px 15px;
    justify-content: space-between;
}

.StoreViewShimmer__right {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.StoreViewShimmer__image {
    width: 81px;
    height: 81px;
    border-radius: 50%;
    animation-duration: 40s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background-color: var(--sec-color-shades-2);
    background: linear-gradient(to right, rgba(0, 0, 0, 0.08) 8%, rgba(0, 0, 0, 0.05) 30%, rgba(0, 0, 0, 0.05) 70%, rgba(0, 0, 0, 0.08) 100%);
}

.StoreViewShimmer__details {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.StoreViewShimmer__name {
    width: 100px;
    height: 15px;
    border-radius: 4px;
    animation-duration: 40s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background-color: var(--sec-color-shades-2);
    background: linear-gradient(to right, rgba(0, 0, 0, 0.08) 8%, rgba(0, 0, 0, 0.05) 30%, rgba(0, 0, 0, 0.05) 70%, rgba(0, 0, 0, 0.08) 100%);
}

.StoreViewShimmer__contact {
    width: 45px;
    height: 22px;
    border-radius: 4px;
    animation-duration: 40s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background-color: var(--sec-color-shades-2);
    background: linear-gradient(to right, rgba(0, 0, 0, 0.08) 8%, rgba(0, 0, 0, 0.05) 30%, rgba(0, 0, 0, 0.05) 70%, rgba(0, 0, 0, 0.08) 100%);
}

.StoreViewShimmer__location {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}

.StoreViewShimmer__location--country {
    width: 30px;
    height: 10px;
    border-radius: 5px;
    animation-duration: 40s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background-color: var(--sec-color-shades-2);
    background: linear-gradient(to right, rgba(0, 0, 0, 0.08) 8%, rgba(0, 0, 0, 0.05) 30%, rgba(0, 0, 0, 0.05) 70%, rgba(0, 0, 0, 0.08) 100%);

}