.Input-Age__Container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.Input__Age{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 75%;
}

.UnderInput__Age{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 25%;
    margin: 3px 0;
    padding: 0 5px;
    box-sizing: border-box;
}
.UnderInput__Age img{
    height: 100%;
    width: auto;
}


.UnderInputChecked__Age{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: fit-content;
    font-family: 'DIN Next LT Arabic';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    text-align: right;
    color: #FFFFFF;
}
.UnderInputChecked__Age input[type="checkbox"] {
    appearance: none;
    background-color: transparent;
    border: 1px solid white;
    height: 60%;
    margin: 0 0 0 7px;
    aspect-ratio: 1/1;
    cursor: pointer;
    position: relative;
}
.UnderInputChecked__Age input[type="checkbox"]:checked {
    background-color: white;
}
.UnderInputChecked__Age input[type="checkbox"]:checked::after {
    content: '✔';
    color: #666666;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    line-height: 1;
    text-align: center;
}
