.Categories {
    position: relative;
    z-index: 5;
    background: white;
    padding: 0;
    padding-top: 14px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    /*box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);*/
}

.Categories__shadow {
    padding-bottom: 5px;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.12);
}

.Categories__parent {
    width: fit-content;
    overflow-x: scroll;
    scroll-behavior: auto;
    direction: rtl;
    margin-left: auto;
    padding: 0 !important;
}

.Categories__parent::-webkit-scrollbar {
    width: 0;
}

.Categories__infinite {
    /*width: fit-content;*/
    direction: rtl;
    white-space: nowrap;
    overflow-x: auto;
}

.Categories__parent--parent {
    display: flex;
    /*overflow-x: auto;*/
    white-space: nowrap;
}

.Categories__container {
    display: flex;
    flex-direction: row;
    scroll-behavior: smooth;
    /*gap: 10px;*/
    width: fit-content;
    cursor: grab;
    user-select: none;
}

@media(max-width: 600px) {
    .Categories {
        width: 100%;
    }
}