.Input {
  position: relative;

  .Input__wraper {
    position: relative;

    .Input__label {
      position: absolute;
      bottom: 6px;
      font-size: 14px;
      color: var(--sec-color-shades-7);
      margin-right: 3px;
      transition: 0.3s;

      .Input__reguired {
        color: red;
      }
    }

    .Input__label--active {
      bottom: 30px;
      color: var(--main-color-green-dark-1);
    }

    .Input__element-inValid {
      border-bottom: 1px solid red !important;
    }

    .Input__element-input {
      width: 100%;
      border: none;
      height: 30px;
      border-bottom: 1px solid var(--sec-color-shades-6);
      outline: none;
      transition: 0.3s;
      z-index: 601;
      display: block;
      position: relative;
      background: transparent;


      &:focus-within {
        border-bottom: 1px solid var(--main-color-green-dark-1);
      }
    }
  }
}