.Img {
  //object-fit: scale-down;
  object-fit: cover;
  background: white;
}

.Img__container {
  height: 100%;
  width: 100%;
  div {
    height: 100%;
    width: 100%;
  }
}

.img__gallery {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

}