.ProviderProductVariables {
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
  //align-items: center;
  justify-content: start;
  font-size: 14px;
  //margin-bottom: 10px;
  //border-bottom: 1px solid var(--sec-color-shades-5);
  padding-bottom: 20px;
}