.Cover {
  width: 100%;
  margin-top: 50px;
  height: 50vh;

  .Cover__visible {
    height: 100%;
    width: 100%;
  }

  .Cover__hidden {
    height: 0;
    overflow: hidden;
  }


  img {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
  }

  .LoadingProduct {
    min-height: 400px;

    .LoadingProduct__image {
      //height: 100%;
      display: block;
      height: 50vh;
    }
  }

  .Cover__img {
    width: 100%;
    object-fit: cover ;
    height: 60vh;
  }
}