.LocationElementContainer{
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 20%;
    aspect-ratio: 1/1;
}

.LocationLogo_Text{
    font-family: 'DIN Next LT Arabic';
    font-style: normal;
    font-weight:200;
    font-size: 7px;
    line-height: 10px;
    color: #666666;

    width: 25px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;  
}

.Location__Container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-color: #FFFFFF;
}
.Location__Container img {
    width: auto;
    height: 60%;
}


.Location__DropDown__First{
    position: absolute;
    top: 50px;
    left: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    border-radius: 15px;
    width: 70vw;
    height: 17vh;
    padding: 0 5px;
    box-sizing: border-box;
}

.Location__focused {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 100;
    transform: scale(1.2);
    transition: all 0.3s ease-in-out;
}
.closeFocused{
    position: absolute;
    top: 10px;
    left: 10px;
    transform: scale(1);
    transition: all 0.3s ease-in-out;
}