.ProductsDetails {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 300;
  opacity: 0;
  animation: details-fadein 0.2s forwards ease-in-out;

  .ProductsDetails__container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
    width: 80%;
    background: white;
    border-radius: 3px;
    z-index: 302;
    //min-height: 300px;
    //max-height: 500px;
    padding: 10px;
    padding-top: 30px;
    height: 420px;

    .LoadingProduct {
      width: 100% !important;
      //height: 100% !important;
      height: fit-content;
      position: absolute;
      top: 30px;
      left: 0;
      z-index: 3;
      background: white;
      padding: 10px !important;


      .LoadingProduct__image {
        height: 200px !important;
        width: 200px !important;
        margin-bottom: 15px;
      }
    }

    .ProductsDetails__visible {
      height: 100%;
      width: 100%;
      overflow: auto;
    }

    .ProductsDetails__hidden {
      height: 0 !important;
      overflow: hidden;
    }

    .ProductDetails__body {
      //padding: 70px 0 10px 0;
      height: 100%;
      position: relative;


      .RenderImgError {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
      }

      .ProductDetails__img--container {
        margin-bottom: 25px;
        margin: auto;
        height: 200px;
        width: 200px;


        img {
          max-height: 200px;
          margin: auto;
          display: block;
          width: 200px;
          height: 200px;
        }
      }

      .ProductDetails__details {
        padding: 20px;
        //margin-bottom: 25px;

        .ProductDetails__header {
          margin-bottom: 20px;
        }

        .ProductsDetails__msg {
          font-size: 18px;
          margin-bottom: 10px;
        }

        .ProductsDetails__price {
          //margin-bottom:20px;
        }
      }
    }

    .ProductsDetails__btn {
      display: block;
      width: 100%;
      margin: auto;
      height: 30px;
      border: none;
      background: var(--main-color-green-dark-1);
      color: white;
      border-radius: 3px;
      //box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.7);
      cursor: pointer;
    }

    .ProductsDetails__close {
      position: absolute;
      top: 10px;
      left: 10px;
      color: var(--main-color-green-dark-4);
      font-size: 18px;
      cursor: pointer;
    }
  }

  .ProductsDetails__backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--sec-color-shades-5);
    opacity: 0.5;
  }
}

.Product__details {
  width: 100%;
  //gap: 10px;
  font-size: 18px;
  direction: rtl;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-bottom: 18px;
}

.Product__details--prices {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.Product__details--sale-message {
  color: var(--sec-color-shades-6);
  font-size: 14px;
}

.Product__details--sale-starts {
  font-size: 18px;
  font-weight: bold;
  color: var(--main-color-green-dark-1);
}

.Product__details--icon {
  font-weight: normal;
  font-size: 16px;
  color: var(--main-color-green-dark-1);
}

.Product__details--description {
  font-size: 15px;
  word-break: break-word;
  font-weight: bold;
  color: var(--sec-color-shades-8);
  max-height: 20px;
  overflow: hidden;
}

.Product__details--title {
  margin-bottom: 10px;
  font-weight: bold;
}

.Product__price--header {
  font-size: 16px;
  font-weight: bold;
}

.Product__price {
  font-size: 15px;
  opacity: 0.9;
}

.Product__details--hide {
  display: none;
}

.Product__visible {
  height: 100%;
  width: 100%;
  overflow: auto;
}

.Product__hidden {
  height: 0;
  overflow: hidden;
}

@media (max-width: 340px) {
  .Product__details--prices {
    flex-direction: column;
    gap: 0;
    font-size: 14px !important;

  }

}

@media (max-width: 650px) {

  .Product__details--sale-message {
    font-size: 12px !important;
  }

  .Product__details--sale-starts {
    font-size: 14px;
  }

}

@media (max-width: 410px) {
  .Product__details--sale-message {
    font-size: 10px !important;
  }
}

@media (max-width: 370px) {
  .Product__details--prices {
    flex-direction: column;
    gap: 10px;
  }

  .Product__details--sale:nth-child(2) {
    gap: 0;
    font-size: 12px !important;
    display: none;
  }

  .ProductsDetails__container {
  }
}

@keyframes details-fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}