.ProviderBody {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 0 0 0 20px;
  //gap: 50px;

  .ProviderBody__left {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .ProviderBody__score {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 3px;
      font-size: 12px;
      color: #7F7F7F;

      span {
        font-size: 15px;
        color: #7F7F7F;
      }
    }

    p {
      .ProviderBody__stars {
        color: #7F7F7F;
        font-size: 12px;
      }

    }

  }


  .ProviderBody__details--container {
    width: 100%;

    .ProviderBody__details {
      display: flex;
      flex-direction: row;
      gap: 50px;
      justify-content: space-between;
      width: 100%;

      .ProviderBody__location {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5px;

        i {
          color: gray;
          font-size: 15px;
          cursor: pointer;
        }
      }

      .ProviderBody__city {
        color: #7F7F7F;
        font-size: 14px;
      }

      .ProviderBody__reviews {
        color: rgba(0, 0, 0, 0.4);
        font-size: 15px;

        span {
          color: rgba(0, 0, 0, 1);
        }
      }
    }
    .ProviderBody__name {
      font-size: 20px;
      cursor: pointer;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 10px;

      .ProviderLinkCopy__container {
        display: flex;
        flex-direction: row;
        font-size: 16px;
        font-weight: normal;
        gap: 5px;
        align-items: center;

        p {
          display: flex;
          flex-direction: row;
          gap: 5px;
          color: var(--sec-color-shades-6);
        }
      }
    }
  }



  .ProviderBody__msg {
    font-size: 11px;
    color: #7F7F7F;

  }

  .ProviderBody__rating {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;

    i {
      color: #33AB85;
      font-size: 13px;
    }

    span {
      color: #33AB85;
      font-size: 15px;
    }
  }
}

@media (max-width: 500px) {
  .ProviderBody {
    flex-direction: column;
    //gap: 5px;

    .ProviderBody__details {
      gap: 10px;
    }
  }
}