.Search {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  .Search__form {
    display: flex;
    flex-direction: row;
    gap: 7px;

    .Search__input {
      background: transparent;
      border: none;
      border-bottom: 1px solid var(--main-color-green-light-1);
      outline: none;
      direction: rtl;
      caret-color: var(--main-color-green-light-1);
      padding-right: 10px;
      max-width: 120px;
      color: var(--main-color-green-light-1);

      &::placeholder {
        color: var(--main-color-green-light-1);
        opacity: 0.7;
      }
    }

    .Search__btn {
      background: transparent;
      border: none;

      i {
        color: var(--main-color-green-light-1);
        transform: rotateY(180deg);
        font-size: 16px;
      }
    }

  }
}