.ResetPassword {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    z-index: 100000;
    background-color: white;
    padding: 20px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border: 1px solid rgb(222, 221, 221);
    padding-top: 60px;
}

.ResetPassword__form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.ResetPassword__container {
    display: flex;
    flex-direction: column;
    gap: 20px;;
}

.ResetPassword__message {
    text-align: center;
}

.ResetPassword__message--body {
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: #999999;
    text-align: center;
}

.ResetPassword__close {
    position: absolute;
    right: 30px;
    top: 30px;
}