.Authentication {
    /*height: 100vh;*/
    /*width: 100vw;*/
    /*position: fixed;*/
    top: 0;
    left: 0;;
    background-color: white;
    direction: rtl;
    padding: 20px;
}

.Authentication__message {
    text-align: center;
    padding: 0 10%;
    font-size: 20px;
    font-weight: 700;
    color: #666666;
}

.Authentication__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 40px;
    gap: 10px;
}

.Authentication__element {
    width: 100%;
}

.Authentication__button {
    height: 65px;
    width: 100%;;
    margin-top: 20px;
}

.Authentication__password--reset {
    width: 100%;
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-top: 5px;
}

.Authentication__password--reset p {
    text-align: center;
    width: 100%;
    font-size: 12px;
    font-weight: 400;
    color: #B9B9B9;
}

.Authentication__password--reset span {
    color: #B9B9B9;
    font-size: 15px;
    text-decoration: underline;
}

.Authentication__or {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    color: #666666;
    justify-content: center;
    margin-top: 20px;
}

.Authentication__hl {
    width: 40%;
    height: 1px;
    background-color: #E5E5E5;
}

.Authentication__google {
    height: 65px;
    width: 100%;;
    margin-top: 20px;
    font-weight: 400 !important;
}

.Authentication__conditions {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    padding: 0 10%;
    text-align: center;
    margin-top: 50px;
    color: #666666;
}

.Authentication__conditions--link {
    color: #07AB83;
}

.Authentication__errors--list {
    list-style: none;
    color: #FC2121;
    font-size: 12px;
    line-height: 17px;
}

.Authentication__backdrop {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(10px);
}