.LanguagesAdd {
    direction: rtl;
    background-color: white;
    width: 100vw;
    height: 100vh;
}

.LanguagesAdd__container {
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.LanguagesAdd__btns--container {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

.LanguagesAdd__error--list {
    list-style: none;
    font-size: 12px;
    color: #FC2121;
    padding: 0 !important;
}