.ProductsTypeContainer {
  //display: flex;
  //flex-direction: column;
  //gap: 10px;
  position: relative;
  flex: 1;
  height: 100%;
  //direction: ltr;

  .Socials {
    margin-top: 10px;
  }

  .ProviderProduct__dots--container {
    //direction: ltr;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transform: rotateY(180deg);

    .react-carousel-dots-holder {
      direction: ltr;
      //width: fit-content !important;
      //margin: auto;
      //width: fit-content !important;
      //max-width: 90px;

      .react-carousel-dots-dot {
        width: 5px;
        height: 5px;
        border: none;
        background: var(--main-color-green-light-4);

        //background: white;
      }

      .active {
        background: var(--main-color-green-dark-1);
      }

    }
  }


  //.Socials
  //{
  //  position: absolute;
  //  bottom: 0;
  //  left: 50%;
  //  transform: translateX(-50%);
  //  z-index: 2;
  //}

  .Dots {
    margin-bottom: 10px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 40px;
  }
}

.dots--center {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
