@import "../../../styles/index.scss";

.Navbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  //height: 75px;
  z-index: 1100;
  //transition: 0.3s;
  display: none;

  .Navbar__container {
    width: 100%;
    height: 100%;
    background: var(--main-color-green-dark-1);
    flex-direction: row-reverse;
    @include center-h();
    justify-content: space-between;
    margin: auto;
    padding: 0 10px;
    gap: 7px;
    position: relative;

    .Navbar__view--backdrop {
      width: 100vw;
      height: 100vh;
      background: transparent;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 2000;
    }

    .Navbar__eye {
      font-size: 20px;
      color: white;
      cursor: pointer;
      position: relative;
    }

    .Navbar__logo {
      //width: 100px;
      //height: 14px;
      max-height: 100%;
      //max-width: 50px;
      //min-height: 80%;
      //width: 100px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 3px;
      height: 65%;
      //min-width: 80px;
      //width: 99px;
      height: 100%;
      position: relative;

      .LoadingProduct {
        height: 100%;
        width: 100%;
        //border-radius: 50%;
        position: absolute;
        top: 0;
        left: 0;
        background: white;

        .LoadingProduct__image {
          width: 100%;
          height: 100%;
          //border-radius: 50%;
          z-index: 1;
          position: relative;
        }
      }



      p {
        font-size: 9px;
        margin-left: auto;
        color: black;
        font-family: var(--fa-font-brands);
      }

      img {
        width: 100%;
        //max-height: 100%;
        //height: 40px;
        //height: 100%;
        object-fit: contain;
        min-width: 99px;
        max-width: 99px;
        height: 100%;
        max-height: 52px;
        background: transparent;
      }
    }

    .Navbar__view {
      position: absolute;
      background: white;
      left: -20px;
      top: 40px;
      border-radius: 10px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      border: 1px solid rgba(0, 0, 0, 0.4);
      direction: rtl;
      padding: 10px;
      gap: 5px;
      z-index: 2001;
      //border-top: none;

      .Navbar__view--triangle {
        position: absolute;
        top: -8px;
        left: 20px;
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid white;
      }

      .Navbar__view--ver {
        width: 1px;
        height: 45px;
        background: #97EDC5;
      }

      .Navbar__view--house {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 10px;

        p {
          white-space: nowrap;
          word-break: keep-all;
          width: fit-content;
          color: #D0D0D0;
        }

        img {
          width: 50px;
          height: 50px;
        }
      }
    }
  }
}