@import "../../../styles/index.scss";

.Navbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
  z-index: 100;

  .Navbar__container {
    width: 100%;
    height: 100%;
    background: var(--main-color-green-dark-1);
    flex-direction: row-reverse;
    @include center-h();
    justify-content: space-between;
    margin: auto;
    padding: 0 20px;
    align-items: center;

    .Navbar__logo {
      //width: 100px;
      //height: 14px;
      max-height: 100%;
      //max-width: 50px;
      min-height: 80%;
      width: 100px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 3px;
      height: 80%;


      p {
        font-size: 9px;
        margin-left: auto;
        color: black;
        font-family: var(--fa-font-brands);
      }

      img {
        width: 100%;
        //height: 40px;
        //height: 100%;
        object-fit: cover;
      }
    }
  }
}