@import "../../../styles/index.scss";

.Navbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
  z-index: 100;

  .Navbar__container {
    width: 100%;
    height: 100%;
    background: #33AB85;
    flex-direction: row-reverse;
    @include center-h();
    justify-content: space-between;
    margin: auto;
    padding: 0 10px;

    .Navbar__logo {
      //width: 100px;
      //height: 14px;
      max-height: 100%;
      //max-width: 50px;
      min-height: 80%;
      width: 100px;
      display: flex;
      flex-direction: row;
      align-items: center;

      img {
        width: 100%;
        //height: 40px;
      }
    }
  }
}