.Search {
  //position: absolute;
  //top: 50%;
  //left: 50%;
  //transform: translate(-50%, -50%);
  position: relative;
  z-index: 200;
  //transition: 0.3s;
  max-width: 350px;
  //transform: translate(-50%, -50%);
  max-height: 39px;
  width: 100%;
  flex: 1;
}

.Search__input--searching {
  //width: 300px;
  flex: 1;
  //position: absolute;
  //top: 50%;
  //left: 50%;
  //transform: translate(-50%, -50%);
  //width: 70%;
  max-width: unset;
  //max-width: 350px;
}

.Search__input--focused {
  //width: 300px;
  //border: 1px solid black !important;
  display: flex;
  flex-direction: row;
  //justify-content: space-between;
  padding: 7px 15px 5px 0;
  height: 60%;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  background: white;
  //box-shadow: 0 3px 3px var(--sec-color-shades-6);
  max-width: 350px;

  .Search__form {
    width: 100%;
    padding-right: 35px;
  }

  input {
    width: 100%;
    flex: 1;
    //padding-right: 20px;
    border-bottom: none !important;
    font-size: 20px;
    color: var(--sec-color-shades-5) !important;

    &::placeholder {
      color: var(--sec-color-shades-6) !important;
      font-weight: normal;
    }

    * {
      color: black !important;
    }

  }

  button {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-40%);

    color: var(--sec-color-shades-5) !important;
    i {
      color: var(--sec-color-shades-5) !important;
    }
  }
}
.Search__form {
  display: flex;
  flex-direction: row;
  gap: 7px;


  .Search__input {
    background: transparent;
    border: none;
    //border-bottom: 1px solid var(--main-color-green-light-1);
    outline: none;
    direction: rtl;
    //caret-color: var(--main-color-green-light-1);
    //padding-right: 10px;
    //max-width: 120px;
    color: var(--main-color-green-light-1);

    &::placeholder {
      color: var(--sec-color-shades-6);
      opacity: 0.7;
      font-size: 15px;
    }
  }

  .Search__btn {
    background: transparent;
    border: none;

    & img {
      width: 33px;
      height: 25px;
      transform: rotateY(180deg);
    }

    i {
      color: var(--main-color-green-light-1);
      font-size: 16px;
      animation: spin 0.5s forwards linear infinite;
      //transform: rotateX(180deg);
    }
  }

}

.Search__invisible {
  opacity: 0;
}


@media (max-width: 380px) {
  .Search__input--searching {
    //width: 100px !important;
  }
}

//@media (max-width: 550px) {
//  .Search {
//    input::placeholder {
//      font-size: 16px;
//    }
//  }
//  .Search__input--searching {
//    width: 100% !important;
//    font-size: 16px;
//
//    input::placeholder {
//      font-size: 15px;
//    }
//  }
//}

//
//@media (max-width: 495px) {
//  .Search__input--searching {
//    width: 100% !important;
//  }
//}

//@media (max-width: 400px) {
//  .Search {
//    width: 150px !important;
//    padding: 5px 0px 5px 0;
//    input {
//      width: 100%;
//
//      &::placeholder {
//        font-size: 13px;
//      }
//    }
//  }
//
//  .Search__input--searching {
//    width: 100% !important;
//  }
//}
