.Sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 90%;
  height: 100%;
  transform: translateX(-100%);
  transition: 0.3s;
  z-index: 200;

  .Sidebar__container {
    width: 100%;
    height: 100%;
    position: relative;
    background: white;

    .Sidebar__links {
      display: flex;
      flex-direction: column;
      transition: 0.5s;

      .Sidebar__link {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        text-decoration: none;
        color: gray;
        font-size: 15px;
        cursor: pointer;
        padding: 10px;
        transition: 0.5s;

        .Sidebar__link--main{
          display: flex;
          flex-direction: row;
          gap: 25px;
          align-items: center;
          transition: 0.5s;
        }

        .Sidebar__sublinks--active {
          height: auto !important;
          margin-top: 20px;
        }

        .Sidebar__sublinks {
          display: flex;
          flex-direction: column;
          gap: 10px;
          margin-left: 40px;
          height: 0;
          overflow: hidden;
          transition: 0.5s;

          .Sidebar__sublinks--element {
            display: flex;
            flex-direction: row;
            gap: 10px;
          }
        }

        &:hover {
          background: #dadada;
        }
      }

      .Sidebar__register {
        text-align: center;
        justify-content: center;
        color: #33AB85;
      }
    }

    .Sidebar__logo {
      display: flex;
      align-items: center;
      height: 50px;
      width: 100%;
      background: #33AB85;
      padding-left: 10px;

      img {
        width: 120px;
        height: 14px;
      }
    }
  }
}

.Sidebar__active {
  transform: translateX(0) !important;
}

@media (min-width: 400px) {
  .Sidebar {
    width: 70%;
  }
}

@media (min-width: 600px) {
  .Sidebar {
    width: 50%;
  }
}

@media (min-width: 800px) {
  .Sidebar {
    width: 30%;
  }
}