.Submit {
    display: flex;
    flex-direction: column;
    gap: 40px;
    min-width: 300px;
    direction: rtl;

    .Register__form--element {
        .Register__form--button-submit:disabled {
            background-color: var(--sec-color-shades-9);
            cursor: not-allowed;
        }
        .Register__form--element-wrapper {
            .Register__form--element-input--wrapper {
                .Register__form--element-input[type="checkbox"] {
                    border: red;
                    width: 20px;
                    height: 20px;
                    // accent-color: #03ac84;
                    color: white;
                    cursor: pointer;
                    
                    &:checked {
                        background-color: var(--main-color-green-dark-1);
                    }
                }
                
            }
        }
        .Register__form--element-conditions {
            display: flex;
            flex-direction: row;
            gap: 10px;
            align-items: center;

            label {
                a {
                    color: var(--sec-color-blue-light-8);
                }
            }
        }
    }
}