.NameContainer{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    box-sizing: border-box;
    width: fit-content;
    min-width: 10%;
    max-width: 60%;
    overflow: hidden;
}

.Name__Container {
    font-family: 'DIN Next LT Arabic';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    text-align: right;
    color: #666666;
    user-select: none;
}

@keyframes fadeInScale {
    0% {
        opacity: 0;
        transform: scale(1);
    }
    100% {
        opacity: 1;
        transform: scale(1.2);
    }
}

.Name__Input_Container {
    position: absolute;
    top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    height: 75px;
    width: 70%;
    animation: fadeInScale 0.3s ease forwards;
    z-index: 100;
}
.Name__Input_Container img {
    width: auto;
    height: 30%;
}