.BusinessPlansAdd {
    width: 100%;
    min-height: 100vh;
    position: relative;
    padding: 20px;
    background-color: #FFFFFF;
    direction: rtl;
}

.BusinessPlansAdd__container {
    width: 100%;
    max-width: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.BusinessPlansAdd__btns--container {
    display: flex;
    margin-top: 20px;
}
