.Products {
    width: 100%;
}

.Products__container {
    width: 100%;
    display: grid;
    margin: auto;
    background: #EFF2F5;
    padding-top: 10px;
}

.Products__full {
    max-width: 350px;
}