.LocalesAdd {
    direction: rtl;
    padding: 20px;
    background: white;
    width: 100vw;
    height: 100vh;
}

.LocalesAdd__contianer {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.LocalesAdd__btns--container {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}