.LocalesAdd {
    direction: rtl;
    padding: 20px;
    background: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.LocalesAdd__contianer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.LocalesAdd__btns--container {
    display: flex;
    flex-direction: row;
    margin-top: 50px;;

}