//@import "styles/index.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  /*height: 10000px;*/
  //font-family: wotfard;
  font-family: "Janna LT";
  font-style: normal;
  font-weight: bold;
}

:root {
  --main-color-green-dark-1: #07ab83;
  --main-color-green-dark-2: #009B78;
  --main-color-green-dark-3: #44ab91;
  --main-color-green-dark-4: #22ab89;
  --main-color-green-dark-5: #009952;
  --main-color-green-dark-6: #008044;
  --main-color-green-dark-7: #00703c;
  --main-color-green-dark-8: #004c29;
  --main-color-green-dark-9: #00331b;
  --main-color-green-dark-10: #001a0e;
  --main-color-green-dark-11: #000000;
  --main-color-green-light-1: #FFFFFF;
  --main-color-green-light-2: #e4edeg;
  --main-color-green-light-3: #daede5;
  --main-color-green-light-4: #caeddd;
  --main-color-green-light-5: #beedd7;
  --main-color-green-light-6: #a6edcc;
  --main-color-green-light-7: #97edc5;
  --main-color-green-light-8: #8ae5b8;
  --main-color-green-light-9: #73e5ac;
  --main-color-green-light-10: #5ce5a1;
  --main-color-green-light-11: #45e695;
  --sec-color-shades-1: #FFFFFF;
  --sec-color-shades-2: #dbdbdb;
  --sec-color-shades-3: #cccccc;
  --sec-color-shades-4: #b3b3b3;
  --sec-color-shades-5: #999999;
  --sec-color-shades-6: #808080;
  --sec-color-shades-7: #666666;
  --sec-color-shades-8: #4d4d4d;
  --sec-color-shades-9: #333333;
  --sec-color-shades-10: #1a1a1a;
  --sec-color-shades-11: #000000;
  --sec-color-blue-dark-1: #2e6be5;
  --sec-color-blue-dark-2: #295fcc;
  --sec-color-blue-dark-3: #2453b3;
  --sec-color-blue-dark-4: #1e4899;
  --sec-color-blue-dark-5: #183b80;
  --sec-color-blue-dark-6: #132e66;
  --sec-color-blue-dark-7: #0f234d;
  --sec-color-blue-dark-8: #0a1733;
  --sec-color-blue-dark-9: #050c1a;
  --sec-color-blue-dark-10: #080B10;
  --sec-color-blue-dark-11: #000000;
  --sec-color-blue-light-1: #FFFFFF;
  --sec-color-blue-light-2: #f5f8ff;
  --sec-color-blue-light-3: #e3ecff;
  --sec-color-blue-light-4: #bfd4ff;
  --sec-color-blue-light-5: #99bbff;
  --sec-color-blue-light-6: #80aaff;
  --sec-color-blue-light-7: #6699ff;
  --sec-color-blue-light-8: #4d88ff;
  --sec-color-blue-light-9: #3377ff;
  --sec-color-blue-light-10: #1a66ff;
  --sec-color-blue-light-11: #0055ff;
  --main-takeme-font: Janna LT bold;
}

///* width */
//::-webkit-scrollbar {
//  width: 12px;
//}
//
///* Track */
//::-webkit-scrollbar-track {
//  background: #f1f1f1;
//}
//
///* Handle */
//::-webkit-scrollbar-thumb {
//  background: var(--sec-color-shades-4);
//}
//
///* Handle on hover */
//::-webkit-scrollbar-thumb:hover {
//  background: #555;
//}