.ProviderScreen {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 900;
  background: var(--sec-color-shades-1);
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  width: 100%;
  height: 100vh;
  padding-top: 50px;

  .Categories {
    position: sticky;
    margin-top: 0px;
    top: 0px;
    padding-bottom: 10px;
  }

  .Spinner {
    position: relative;
  }

  .Provider {
    min-height: unset;
  }


  .ProviderProfile {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 20px;

    .ProviderBody__details {
      position: unset;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 15px;
      text-align: center;
      .ProviderBody__location {
        position: absolute;
        left: 20px;
        top: 10px;
        text-align: center;
        //display: none;
      }


    }
    .ProviderBody__msg {
      text-align: center;
    }

  }

  .Provider {
    //height: 900px !important;
  }

  .Navbar {
    position: sticky;
    top: 0;
    direction: ltr;

    .Navbar__container {
      height: 50px !important;
    }
  }
}

@media (max-width: 500px) {
  .ProviderScreen {
    padding-bottom: 30px;
  }
}