.ProviderScreen {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 900;
  background: var(--sec-color-shades-1);
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  width: 100vw;
  height: 100vh;
  padding-top: 50px;

  .Provider {
    //height: 900px !important;
  }

  .Navbar {
    position: sticky;
    top: 0;
    direction: ltr;

    .Navbar__container {
      height: 50px !important;
    }
  }
}

@media (max-width: 500px) {
  .ProviderScreen {
    padding-bottom: 60px;
  }
}