.Slider {
    display: flex;
    flex-direction: row;
    gap: 5%;
    align-items: center;
    margin: auto;
    /*margin-top: 50px;*/
    width: 90%;
    max-width: 350px;
    transform: rotateY(180deg);
}

.Slider__icon {
    cursor: pointer;
    border-radius: 50%;
    padding: 10px;
    transition: 0.3s;
}

.Slider__icon:hover {
    background: #d4e5ed;
}