.Product {
    height: 300px;
    margin-bottom: 20px;
    background: white;
}

.Product img {
    height: 80%;
    width: 80%;
    margin: auto;
    display: block;
    cursor: pointer;
}

.Product__details {
    display: flex;
    flex-direction: column;
    gap: 3px;
    font-size: 18px;
    direction: rtl;
    padding: 10px;
}

.Product__price--header {
    font-size: 16px;
}

.Product__price {
    font-size: 12px;
    opacity: 0.9;
}

.Product__details--hide {
    display: none;
}

.Product p {
    /*text-align: center;*/
    /*margin-top: 10px;*/
}