.Product {
    height: 300px;
    background: white;
    position: relative;
}

.Product__image--container img {
    height: 80%;
    width: 80%;
    margin: auto;
    display: block;
    cursor: pointer;
    object-fit: fill;
    max-width: 100%;
}
.Product__image--container {
    /*min-height: 200px;*/
}

.Product__image--container-center {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.Product__details {
    display: flex;
    flex-direction: column;
    gap: 3px;
    font-size: 18px;
    direction: rtl;
    padding: 10px;
}

.Product__details--title {
    margin-bottom: 10px;
    font-weight: bold;
}

.Product__price--header {
    font-size: 16px;
    font-weight: bold;
}

.Product__price {
    font-size: 15px;
    opacity: 0.9;
}

.Product__details--hide {
    display: none;
}

.Product p {
    /*text-align: center;*/
    /*margin-top: 10px;*/
}