.Step {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 60px;
  direction: rtl;

  .Step__s {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #A5A5A5;
    color: white;
    position: relative;
    cursor: pointer;
  }

  .step__lin {
    &:before {
      content: '';
      width: 60px;
      height: 5px;
      background: #A5A5A5;
      position: absolute;
      top: 50%;
      left: 100%;
      transform: translateY(-50%);
      transition: 0.3s;
    }
  }

  .Step__active {
    background: #03ac84;

    &:before {
      background: #03ac84;
    }
  }
}