.GalleryItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  img {
    //height: 70%;
    display: block;
    margin: auto;
    margin: 0;
    max-width: 100% !important;
    width: 100% !important;
    max-height: 80% !important;
  }
}